.cabecalho {
  margin: 1em;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho-container__img {
  width: 10vw;
  height: 50%;
}
.cabecalho-container__input {
  height: 25%;
  width: 60%;
  padding: 1.5em;
  border-radius: 8px;
  background-color: var(--input-background-color);
  color: var(--white);
  opacity: 0.64;
}
.cabecalho-container__input::placeholder {
  color: var(--white);
  opacity: 0.64;
  font-family: var(--principal-font);
  font-size: 1rem;
}
.cabecalho-container__img2 {
  width: 8vw;
  height: 25%;
}
