@import url("css/header.css");
@import url("css/first-section.css");

:root {
  /*Cores do Projeto*/
  --color-darkblue: #051d3b;
  --color-lightblue: #6bd1ff;
  --color-blue: #5081fb;
  --white: #ffffff;
  --input-background-color: rgba(255, 255, 255, 0.16);

  /*Fontes do Projeto*/
  --principal-font: "Inter";
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--principal-font);

  background: var(--color-darkblue);
  height: 100vh;
}
